h3 {
    text-align:center;
}

/* --- HEADER STYLE --- */
.header-top {
    border-bottom: 2px solid #d3d3d3;
}

.header-default {
    color: #4400ff;
    font-size: 24px;
}

.header-default p {
    margin: 0;
}

.header-user-info {
    padding: 10px ;
    text-align: right;
}

.header-user-info a {
    border-left: 1px solid #f1f2f2;
    color: #252525;
    font-size: 16px;
    padding-left: 12px;
    margin-right: 12px;
}

.header-user-info a:hover {
    color: #009A86;
    text-decoration: none;
}

/* --- SIDEBAR STYLE --- */
#sidebar {
    position: fixed;
    height:100%;
    width:250px;
    overflow-y:scroll;
    background: #7386D5;
    color: #fff;
    transition: all 0.4s cubic-bezier(0.945, 0.020, 0.270, 0.665);
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    background: #0151ff;
}

#sidebar ul.components {
    padding: 5px 0;
    border-bottom: 1px solid #4400ff;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.2em;
    color: #252525;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(34, 55, 243);
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* --- CONTENT STYLE --- */
#content {
    width: auto;
    margin-left: 250px;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#content.active {
    margin-left: 0px;
    transition: all 0.8s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

.item{
    height: 30%;
    width: 30%;
}

.productname{
    font-size: 26px;
    text-align:center;
}

.productprice{
    font-size: 20px;
    text-align:center;
}

.continue{
    text-decoration: none;
}

.detail{
    font-size: 30px;
}

.space{
    height: 50px;
}